body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h1 {
    margin-top: 50px;
    margin-bottom: 0;
    /* line-height: 2; */
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted #EAF6F6 10px;
    border-bottom: none;
    width: 15%;
    margin: 100px auto;
}

p {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #40514E;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 15px 5px 15px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container {
    background-color: #B9FFF8;
    padding-top: 100px;
    position: relative;
}

.profile-pic {
    margin: 80px auto 40px auto;
}

.profile {
    margin: auto;
    width: 30%;
}

.h2-profile {
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    
}

.underline {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 400px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skills-one-img {
    /* height: 200px; */
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skills-one-desc {
    clear: left;
}

.skills-two-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skills-two-desc {
    clear: right;
}

.contact-me {
    margin: 50px auto;
    width: 30%;
}

.h2-contact-me {
    margin: 30px auto;
}

.h3-contact-me {
    margin: 40px auto;
}

.p-contact-me {
    line-height: 2;
    margin: 30px auto 60px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    height: 100px;
    margin-top: 100px;
    padding-top: 40px;
    background-color: #66BFBF;
}

.copyright {
    color: #EAF6F6;
    margin-top: 32px;
    font-size: 0.80rem;
}